<div id = "userimage_container">
      <img src = "<%= profile.avatarUrl %>" alt = "user">
</div>

<% if (typeof profile.name === 'string') {%>
      <h5 id = "name" style = "line-height: 10px;">
      <%= profile.name %>
      </h5>
<% } %>

<h6 id = "user_name">
      <%= profile.loginName %>
</h6>

<p id = "bio">
      <% if (typeof profile.bio === 'string') { %>
      <%= profile.bio %>
      <% } %>
</p>

<button class = "btn btn-waves visit_profile_button" id = "visit_profile_button">
      <a href = "<%= profile.profileUrl %>">Visit Profile</a>
</button>

<hr>

<% if (typeof profile.company === 'string') { %>
      <p style = "line-height: 2px">
      <i class = "fa fa-group" style = "padding-right: 5px; font-size: 18px;"></i>
      <span>
            <%= profile.company %>
      </span>
      </p>
<% } %>
<% if (typeof profile.email === 'string') { %>
      <p style = "line-height: 2px">
      <i class = "fa fa-envelope" style = "padding-right: 5px; font-size: 18px;"></i>
      <span>
            <%= profile.email %>
      </span>
      </p>
<% } %>
<% if (profile.blog != "") { %>
      <p style = "line-height: 4px">
      <i class = "fa fa-link" style = "padding-right: 5px"></i>
      <span>
            <a href = "<%= profile.blog %>" target="_block"><%= profile.blog %></a>
      </span>
      </p>
<% } %>
<% if (typeof profile.location === 'string') { %>
      <p style = "line-height: 2px">
      <i class = "fa fa-location-arrow" style = "padding-right: 5px; font-size: 18px;"></i>
      <span>
            <%= profile.location %>
      </span>
      </p>
<% } %>
