<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <!-- My CSS -->
   <link rel = "stylesheet" href = "index.css">
   <!-- Materialize CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
   <!-- Font awesome for icons -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <meta property="og:image" content="feature_img.png"/>
   <link rel="shortcut icon" type="image/x-icon" href="favicon.png" />
   <title>Githubber</title>
</head>
<body>
   <!-- Navigation bar -->
   <%- include('partials/nav.ejs') %>
   <% if (showSuccessModal) { %>
      <%- include('partials/successmodal.ejs') %>
   <% } %>
   <% if (showErrorModal) { %>
      <%- include('partials/errormodal.ejs', {title: errorTitle, desc: errorDescription}) %>
   <% } %>

   <% if (isVisible) { %>
      <div class = "container" id = "userprofile-container">
         <br><br>
         <div class = "row">
            <div class = "col s12 m4 l4">
               <%- include('partials/sideview-profile.ejs', {data: data, isVisible: isVisible}) -%>
            </div>

            <div class = "col s12 m8 l8">
               <ul class = "tabs tabs-fixed-width z-depth-1 tab-demo" style = "box-shadow: none; border-bottom: 2px  #36D1DC solid">
                  <li class = "tab"><a class = "active" href = "#repos">Repositories</a></li>
                  <li class = "tab"><a href = "#followers">Followers</a></li>
                  <li class = "tab"><a href = "#following">Following</span></a></li>
               </ul>

               <div id = "repos" >
                  <%- include('partials/repos', {repos: repos}) %>
               </div>

               <div id = "followers">
                  <%- include('partials/followers', {followers: followers}) %>
               </div>

               <div id = "following">
                  <div style = "padding: 20px; width: 80%; border-radius: 10px; margin: auto; color: grey">
                     <h1 class = "center" style = "font-size: 110px;">SORRY!</h1>
                     <h4 class = "center" >This application doesn't provide this functionality because of the github API response</h4>
                  </div>
               </div>
            </div>
         </div>
      </div>
   <% } %>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
   <script src = "render.js"></script>
   <script src = "client.js"></script>
</body>
</html>