<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <!-- My CSS -->
   <link rel = "stylesheet" href = "index.css">
   <!-- Materialize CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
   <!-- Font awesome for icons -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5b8b19865f7cb000119f5aad&product=custom-share-buttons"></script>
   <meta property="og:image" content="https://githubfind.herokuapp.com/feature_img.png">
   <meta property="og:description" content="GithubFind is an application that fetches your github id. GithubFind takes your github login name and finds that user in github server and if it finds it, then it lists your data.">
   <meta property="og:image:type" content="image/png">
   <meta property="og:image:width" content="1024">
   <meta property="og:image:height" content="1024">
   <meta property="og:url" content="https://githubfind.herokuapp.com/">
   <meta property="og:type" content="website">
   <meta property="og:title" content="GithubFind App">
   <meta name="twitter:title" content="GithubFind">
   <meta name="twitter:description" content="GithubFind is an application that fetches your github id. GithubFind takes your github login name and finds that user in github server and if it finds it, then it lists your data.">
   <meta name="twitter:image" content="https://githubfind.herokuapp.com/feature_img.png">
   <meta name="twitter:card" content="GithubFind is an application that fetches your github id">
   <meta name="twitter:creator" content="@suyashpurwar06">
   <meta name="twitter:site" content="@suyashpurwar06">

   <link rel="shortcut icon" type="image/x-icon" href="favicon.png" />
   <title>GithubFind</title>
</head>
<body>
   <%- include('partials/nav.ejs') %>
   <% if (showSuccessModal) { %>
      <%- include('partials/successmodal.ejs') %>
   <% } %>
   <% if (showErrorModal) { %>
      <%- include('partials/errormodal.ejs', {title: errorTitle, desc: errorDescription}) %>
   <% } %>

   <% try { %>
      <% if (isHome) { %>
         <%- include('partials/home-content.ejs') %>
      <% }%>
   <% } catch (e) { %>

   <% } %>

   <div class="fixed-action-btn">
      <a class="btn-floating btn-large" style = "background-color: #36D1DC !important">
         <i class="fa fa-share-alt"></i>
      </a>
      <ul>
         <li>
            <a class="facebook btn-floating st-custom-button" data-network="facebook">
               <i class="fa fa-facebook"></i>
            </a>
         </li>
         <li>
            <a class="twitter btn-floating st-custom-button" data-network="twitter">
               <i class="fa fa-twitter"></i>
            </a>
         </li>
         <li>
            <a class="google btn-floating st-custom-button" data-network="googleplus">
               <i class="fa fa-google-plus"></i>
            </a>
         </li>
         <li>
            <a class="whatsapp btn-floating st-custom-button" data-network="whatsapp">
               <i class="fa fa-whatsapp"></i>
            </a>
         </li>
      </ul>
   </div>

   <% if (isVisible) { %>
      <div class = "container" id = "userprofile-container">
         <br><br>
         <div class = "row">
            <div class = "col s12 m4 l4">
               <%- include('partials/sideview-profile.ejs', {profile: profile}) -%>
            </div>

            <div class = "col s12 m8 l8">
               <ul class = "tabs tabs-fixed-width z-depth-1 tab-demo" style = "box-shadow: none; border-bottom: 2px  #36D1DC solid">
                  <li class = "tab"><a class = "active" href = "#repos">Repositories</a></li>
                  <li class = "tab"><a href = "#followers">Followers</a></li>
                  <li class = "tab"><a href = "#following">Following</a></li>
                  <li class = "tab"><a href = "#starred">Starred</a></li>
               </ul>

               <div id = "repos" >
                  <%- include('partials/repos', {repos: repos}) %>
               </div>

               <div id = "followers">
                  <%- include('partials/followers', {followers: followers}) %>
               </div>

               <div id = "following">
                  <%- include('partials/following', {following: following}) %>
               </div>

               <div id = "starred">
                  <%- include('partials/repos', {repos: starredRepo}) %>
               </div>
            </div>
         </div>
      </div>
   <% } %>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
   <script src = "client.js"></script>
</body>
</html>